{% extends 'base.html.twig' %} 

{% block title %} Статистика {% endblock %}

{% block body %}
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="highChart01" style="width:100%; height:600px;"></div>
            </div>
        </div>
    </div>
    <script>
        Highcharts.chart('highChart01', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Реакції на надіслані резюме по вакансіям'
            },
            xAxis: {
                categories: ['17.01.22', '18.01.22', '19.01.22', '20.01.22', '21.01.22', '22.01.22', '23.01.22'],
            },
            yAxis: {
                title: {
                    text: 'Кількість реакцій'
                }
            },
            plotOptions: {
                series: {
                    allowPointSelect: true
                },
            },
            series: [{
                name: 'PHP Developer',
                data: [3, 12, 7, 20, 4, 2, 9]
            }, {
                name: 'GO Developer',
                data: [10, 7, 12, 16, 2, 1, 1]
            }, {
                name: 'Python Developer',
                data: [8, 5, 18, 4, 2, 3, 1]
            }, {
                name: 'C# Developer',
                data: [11, 25, 6, 15, 3, 0, 1]  
            }],
        });
    </script>
{% endblock %}