{% extends 'base.html.twig' %} 

{% block title %} Профіль користувача {% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th class="text-center" colspan="2">Інформація про кандидата</th>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}