{% extends 'base.html.twig' %}

{% block title %}Авторизація{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger mt-5">Перевірте правильність введених даних</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-center">Авторизація</h1>
            <label for="inputEmail">Електронна пошта</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label style="margin-top: 5px" for="inputPassword">Пароль</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Запам'ятати мене
                    </label>
                </div>
            #}

            <button class="btn btn-primary btn-block mt-3" type="submit">
                Вхід
            </button>
        </form>
        </div>
    </div>
</div>
{% endblock %}
