{% extends 'base.html.twig' %} 
{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center" style="background-color: cadetblue; color: white">
                <h3>Управління резюме</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}