<h1>Підтвердження електронної пошти!</h1>

<p>
    Будь ласка, підтвердьте свою електронну адресу за наступним посиланням: <br><br>
    <a href="{{ signedUrl }}">Підтвердити Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
