{% extends 'base.html.twig' %}

{% block title %}Реєстрація{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
            <h1 class="text-center">Реєстрація</h1>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Пароль'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">Реєстрація</button>
            {{ form_end(registrationForm) }}
            </div>
        </div>    
    </div>
{% endblock %}
