{{ form_start(form) }}
    {{ form_row(form.summaries, {
        label: 'Посада'
    }) }}
    {{ form_row(form.companies, {
        label: 'Компанії'
    }) }}
    <button class="btn btn-success"><i class='fas fa-plus-square'></i> Зберегти</button>
    <a class="btn btn-primary" href="{{ path('summary.index') }}"><i class='fas fa-briefcase'></i> Список резюме</a>
{{ form_end(form) }}