{% extends 'base.html.twig' %}

{% block title %}Редагування резюме{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
        <h1>Форма редагування резюме</h1>
        {{ include('summary/_form.html.twig', {'button_label': 'Змінити'}) }}
        </div>
    </div>
</div>
{% endblock %}