{% extends 'base.html.twig' %}

{% block title %}Резюме{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <h1>Список резюме</h1>
            <a class="btn btn-success" href="{{ path('summary.create') }}">
                <i class='fas fa-plus-square'></i> Додати резюме
            </a>
            <a class="btn btn-primary" href="{{ path('summary.send_summary') }}">
                <i class='fas fa-briefcase'></i> Відправити резюме
            </a>
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>       
                            <td>Посада</td>  
                            <td>Текст резюме</td>                        
                            <td style="width:8%">Дії</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for summary in summaries %}
                            <tr>  
                                <td>{{ summary.vacancy }}</td>
                                <td>{{ summary.description }}</td>
                                <td style="width:10%">
                                    <a style="text-decoration: none; margin-right: 3px" href="{{ path('summary.show', {id: summary.id}) }}">
                                        <i style="color: green" class='fas fa-eye'></i>
                                    </a>
                                    <a style="text-decoration: none; margin-right: 3px" href="{{ path('summary.edit', {id: summary.id}) }}">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                    <a style="text-decoration: none; margin-right: 3px" href="{{ path('summary.delete', {id: summary.id}) }}">
                                        <i style="color: orangered" class='fas fa-trash'></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
