{% extends 'base.html.twig' %}

{% block title %}Відправка резюме{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
        <h1 class="text-center">Форма відправки резюме</h1>
        {{ include('summary/_receive_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}