{% extends 'base.html.twig' %}

{% block title %} {{ summary.vacancy }} {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-info" href="{{ path('summary.index') }}">
                <i class='fas fa-briefcase'></i> Список резюме
            </a>
            <a class="btn btn-primary" href="{{ path('summary.edit', {id: summary.id}) }}">
                <i class='fas fa-edit'></i> Змінити
            </a>
            <a class="btn btn-danger" href="{{ path('summary.delete', {id: summary.id}) }}">
                <i class='fas fa-trash'></i> Видалити
            </a>
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped">    
                    <tr>
                        <td>Посада</td>
                        <td>{{ summary.vacancy }}</td>
                    </tr>            
                    <tr>
                        <td>Текст резюме</td>
                        <td>{{ summary.description }}</td>
                    </tr>
                    <tr>
                        <td>Дата створення</td>
                        <td>{{ summary.createdAt.format('d/m/Y H:i:s') }}</td>
                    </tr>
                    <tr>
                        <td>Дата зміни</td>
                        <td>{{ summary.updatedAt.format('d/m/Y H:i:s') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}