{{ form_start(form) }}
    {{ form_row(form.name, {
        label: 'Компанія'
    }) }}
    {{ form_row(form.website, {
        label: 'Сайт'
    }) }}
    {{ form_row(form.address, {
        label: 'Адреса'
    }) }}
    {{ form_row(form.phone_number, {
        label: 'Телефон'
    }) }}
    <button class="btn btn-success"><i class='fas fa-plus-square'></i> Зберегти</button>
    <a class="btn btn-primary" href="{{ path('company.index') }}"><i class='fas fa-briefcase'></i> Список компаній</a>
{{ form_end(form) }}