{% extends 'base.html.twig' %}

{% block title %}Створення компанії{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
        <h1 class="text-center">Форма створення нової компанії</h1>
        {{ include('company/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}