{% extends 'base.html.twig' %}

{% block title %}Компанії{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <h1>Список компаній</h1>
            <a class="btn btn-success" href="{{ path('company.create') }}">
                <i class='fas fa-plus-square'></i> Додати компанію
            </a>
            <div class="table-responsive mt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Компанія</td>
                            <td>Сайт</td>                        
                            <td>Телефон</td>
                            <td style="width:8%">Дії</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                            <tr>
                                <td>{{ company.name }}</td>
                                <td>{{ company.website }}</td>
                                <td>{{ company.phoneNumber }}</td>
                                <td style="width:10%">
                                    <a style="text-decoration: none; margin-right: 3px" href="{{ path('company.show', {id: company.id}) }}">
                                        <i style="color: green" class='fas fa-eye'></i>
                                    </a>
                                    <a style="text-decoration: none; margin-right: 3px" href="{{ path('company.edit', {id: company.id}) }}">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                    <a style="text-decoration: none; margin-right: 3px" href="{{ path('company.delete', {id: company.id}) }}">
                                        <i style="color: orangered" class='fas fa-trash'></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
