{% extends 'base.html.twig' %}

{% block title %} {{ company.name }} {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-info" href="{{ path('company.index') }}">
                <i class='fas fa-briefcase'></i> Список компаній
            </a>
            <a class="btn btn-primary" href="{{ path('company.edit', {id: company.id}) }}">
                <i class='fas fa-edit'></i> Змінити
            </a>
            <a class="btn btn-danger" href="{{ path('company.delete', {id: company.id}) }}">
                <i class='fas fa-trash'></i> Видалити
            </a>
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Компанія</td>
                        <td>{{ company.name }}</td>
                    </tr>
                    <tr>
                        <td>Сайт</td>
                        <td>{{ company.website }}</td>
                    </tr>
                    <tr>
                        <td>Адреса</td>
                        <td>{{ company.address }}</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>{{ company.phoneNumber }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% if companySummaries > 0 %}
        <div class="row">
            <div class="col-md-6">  
                {% for sc in companySummaries %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="thumbnail text-center">
                            <p>{{ sc.vacancy }}</p>
                            <p>{{ sc.createdAt.format('d/m/Y H:i:s') }}</p>
                            <p>{{ sc.description }}</p>
                        </div>
                    </div>
                </div>            
                {% endfor %}
            </div>                  
        </div>
    </div>  
    {% endif %}  
</div>
{% endblock %}