<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Головна сторінка{% endblock %}</title>
        <!-- Styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

        <!-- Scripts -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Highcharts Library -->
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <style>
        body {
            min-height:  100vh;
        }

        .footer {
            position: sticky;
            top: 100%;
            height:  90px;
            width: 100%;
            background-color: #33334d;
            color:  white;
            text-align:  center;
        }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="font-size: 18px" href="/"> Управління резюме</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Головна <span class="sr-only">(current)</span></a>
                </li>
               {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Профіль
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('profile.index') }}"><i class='fas fa-user mr-3' style='font-size:14px'></i>Профіль</a>
                        <a class="dropdown-item" href="{{ path('summary.send_summary') }}"><i class='fas fa-book mr-3' style='font-size:14px'></i>Відправити резюме</a>
                        <a class="dropdown-item" href="{{ path('profile.highcharts') }}"><i class='fas fa-chart-bar mr-3' style='font-size:14px'></i>Статистика</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}"><i class='fas fa-door-open mr-3' style='font-size:14px'></i>Вихід</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('summary.index') }}">Резюме</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('company.index') }}">Компанії</a>
                </li>
                {% else %}          
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Реєстрація</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Вхід</a>
                </li>   
                {% endif %}           
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}
  
    <footer class="footer container-fluid mt-2">
        <br><h5>&copy; Управління резюме – 2021 </h5>
    </footer>  
    </body>
</html>
